# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.h5
*.egg-info/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Node
node_modules/

# Misc
*.bak
*.swp
*.tmp
*.out
*.class 